<div fxLayoutAlign="center" style="margin-top:5rem;">
    <mat-card fxFlex="60%" class="heading" style="box-shadow: 5px -5px 8px 8px gray;border: 1px solid gray;">
        <mat-toolbar color="primary" fxLayout="column">
            <span  fxFlexAlign="center" style="padding: 1.5rem;">Login Page</span>
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="logForm">
            <mat-form-field> 
              <input matInput type="text" placeholder="User Name">
            </mat-form-field>  
          
            <mat-form-field> 
                <input matInput type="password" placeholder="Password">
            </mat-form-field>

              <button type="submit" mat-raised-button color="primary">Login</button>
          </form> 
      </mat-card>
  </div> 